body{
    background-color: #F4F4F4;
    
}
.topBar{
    position: fixed;
    height: 15vh;
    width: 100vw;
    top: 0;
}
.pageTitle{
    background-color: #352F43;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.header{
    background-color: #67597A;
    height: 15vh;
    
}
.locationDisplay{
    color: #352F43;
    background-color: #F4F4F4;
    border-radius: 10px;
    font-size: clamp(40px, 5vw, 65px);
    margin: 10px;
    text-align: center;
    max-height: 75%;
    width: 50vw;
    
}
.arrow{
    color: #67597A;
}
button.btn.locationBtn{
    background-color: #C4BAFF;
    font-size: clamp(16px, 2svw, 23px);
    padding: 10px;
}
button.btn.locationBtn:hover{
    background-color: #c4baff9f;
}
.inner{
    width: 100vw;
}
.sidebar{
    background-color: #E2DEF6;
    height: 85vh;
    padding: 10px;
    color: #352F43;
    position: fixed;
    top: 15vh;
}
.checks{
    margin-left: 10px;
    font-size: 20px;
    -webkit-user-select: none;
    user-select: none;
}
.form-check-input{
    background-color: #352f4300!important;
    border-color: #352F43!important;
}
.form-check-input:checked{
    background-color: #352F43!important;
    border-color: #352F43!important;
}
.form-check-input:checked:focus{
    box-shadow: 0 0 5px #352F43!important;
}

.form-check-input:focus{
    box-shadow: 0 0 5px #352F43!important;
}
.setToBottom{
    position: fixed;
    bottom: 0;
}
.sideLink{
    padding-top: 0px;
    padding-bottom:20px;
    padding-left: 10px;
}

a{
    color: #968ABD!important;
}
.logo{
    height: 10vh;
}
.charts{
    color: #352F43;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    top: 15vh;
    overflow-y: scroll;
    height: 85vh;
}
#precipChart, #tempChart, #humidChart, #dewChart, #pressureChart{
    display: none;
}
.dates{
    color: #352F43;
}
.dateInput{
    color: #352F43;
    background-color: #F4F4F4;
    border-color: #352F43;
    border-radius: 5px;
    border-width: 1px;
}
.dateInput:focus{
    outline-style: outset;
    outline-width: 3px;
    outline-color: #968ABD9f;
}